<%- include("header") %>

<div class="box" id="login">
	<span><h1>SIGN UP or LOG IN</h1></span>
</div>

<div class="box">
	<div class="item">
		<a href="/auth/google" role="button">GOOGLE</a>
	</div>

	<div class="item">
		<a class="" href="/auth/facebook" role="button">FACEBOOK</a>
	</div>
</div>

<%- include("footer") %>