<%- include("header") %>

<div class="box" id="login">
	<h1>To Do List</h1>
  <p>Register or log in below!</p>
</div>

<div class="box">
	<div class="item-login">
		<a href="/auth/google" role="button">GOOGLE</a>
	</div>

	<div class="item-login">
		<a href="/auth/facebook" role="button">FACEBOOK</a>
	</div>

  <div class="item-login no-border">
    <form action="/login" method="POST">
      <div class="input-group">
        <label>E-mail:</label>
        <input class="entry email" type="email" name="email"/>
      </div>
      <div class="input-group">
        <label>Password:</label>
        <input class="entry password" type="password" name="password"/>
      </div>
      <div class="input-group">
        <input class="btn navigation login" type="submit" value="Register"/>
        <input class="btn navigation login" type="submit" value="Log In"/>
      </div>
    </form>
  </div>
</div>


<%- include("footer") %>